python/crawling/data/updated_restaurant_list.csv
# python/sql/RestaurantTableCreate.py
python/sql/MainSqlCreate.ipynb
.idea
python/analyze_review/kcelectra_regression_model.pt
python/sql/.ipynb_checkpoints
python/sql/07_24_P_CSV/.ipynb_checkpoints
python/sql/07_24_P_CSV/restaurant_data.csv