<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org"-->
<!--      th:replace="~{layout/layout.html::layout( ~{::#section}, ~{::#head} )}">-->
<!--<head id="head">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>리뷰 점수 확인</title>-->
<!--</head>-->
<!--<body>-->
<!--<div id="section">-->
<!--    <h1>리뷰 점수 확인</h1>-->

<!--    &lt;!&ndash; 에러 메시지 &ndash;&gt;-->
<!--    <div th:if="${error}" style="color: red;">-->
<!--        <p th:text="${error}"></p>-->
<!--    </div>-->

<!--    <form action="/submitReview" method="post">-->
<!--        <label for="review">리뷰를 입력하세요:</label>-->
<!--        <textarea id="review" name="review" rows="4" cols="50"></textarea>-->
<!--        <br>-->
<!--        <button type="submit">점수 확인</button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
