body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* 수평 스크롤 제거 */
}

.desktop {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

.desktop .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
}

.desktop .overlap-group {
    position: absolute;
    width: 537px;
    height: 456px;
    top: 251px;
    left: 461px;
    background-color: #EAEDF1;
    background-size: 100% 100%;
    border-radius: 30px;
    animation: moveUpDown 3s ease-in-out infinite; /* 상하 움직임 애니메이션 */
    transition: transform 0.3s ease; /* 마우스 호버 시 크기 변화 */
    box-shadow: 0 4px 8px rgba(96, 77, 111, 0.2);

}

.desktop .overlap-group:hover {
    animation: none; 
    transform: scale(1.02); /* 호버 시 크기 확대 */
}

/* 상하 움직임 애니메이션 */
@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0); /* 원래 위치 */
    }
    50% {
        transform: translateY(-20px); /* 위로 약간 이동 */
    }
}

 .desktop .overlap {
    position: absolute;
    width: 412px;
    height: 65px;
    top: 68px;
    left: 63px;
    background-color: #ffffff;
    border-radius: 30px 30px 0px 0px;
} 

.desktop .line {
    width: 410px;
    height: 2px;
    top: 63px;
    left: 2px;
    position: absolute;
    object-fit: cover;
}

.desktop .ID {
    position: absolute;
    width: 222px;
    top: 23px;
    left: 21px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    font-style: var(--single-line-body-base-font-style);
}

 .desktop .PASSWORD-wrapper {
    position: absolute;
    width: 412px;
    height: 65px;
    top: 133px;
    left: 63px;
    background-color: #ffffff;
    border-radius: 0px 0px 30px 30px;
} 

.desktop .PASSWORD {
    position: absolute;
    width: 306px;
    top: 20px;
    left: 21px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    font-style: var(--single-line-body-base-font-style);
}

.desktop .div-wrapper {
    position: absolute;
    width: 412px;
    height: 57px;
    top: 219px;
    left: 63px;
    background-color: #826FBC;
    background-size: 100% 100%;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.9s ease;
}

.div-wrapper:hover {
    transform: scale(1.02); /* 호버 시 크기 확대 */
}

.desktop .text-wrapper {
    width: 95px;
    top: 19px;
    left: 159px;
    color: #ffffff;
    position: absolute;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    font-size: var(--single-line-body-base-font-size);
    text-align: center;
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    font-style: var(--single-line-body-base-font-style);
}

.text-wrapper:hover {
    transform: scale(1.02); 
}

.desktop .img {
    width: 1px;
    height: 47px;
    top: 358px;
    left: 188px;
    position: absolute;
    object-fit: cover;
}

.desktop .line-2 {
    width: 1px;
    height: 33px;
    top: 294px;
    left: 269px;
    position: absolute;
    object-fit: cover;
}

.desktop .line-3 {
    width: 2000px;
    height: 1px;
    top: 346px;
    left: 62px;
    position: absolute;
    object-fit: cover;
}

.desktop .line-4 {
    width: 1px;
    height: 47px;
    top: 358px;
    left: 355px;
    position: absolute;
    object-fit: cover;
    text-size-adjust: 30px ;
}

.desktop .text-wrapper-2 {
    top: 373px;
    left: 88px;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    font-size: var(--single-line-body-base-font-size);
    text-align: center;
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    font-style: var(--single-line-body-base-font-style);
    cursor: pointer;
}

.desktop .text-wrapper-3 {
    top: 373px;
    left: 226px;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    font-size: var(--single-line-body-base-font-size);
    text-align: center;
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    font-style: var(--single-line-body-base-font-style);
    cursor: pointer;
}

.desktop .text-wrapper-4 {
    top: 373px;
    left: 386px;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    font-size: var(--single-line-body-base-font-size);
    text-align: center;
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    font-style: var(--single-line-body-base-font-style);
    cursor: pointer;
}
.text-wrapper-2:hover {
    color: #826FBC; /*id, pw, mb 글자색 변경*/
}
.text-wrapper-3:hover {
    color: #826FBC;
}
.text-wrapper-4:hover {
    color: #826FBC;
}

.desktop .naver-icon {
    position: absolute;
    width: 184px;
    height: 33px;
    top: 294px;
    left: 291px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.desktop .google-icon {
    position: absolute;
    width: 184px;
    height: 33px;
    top: 294px;
    left: 63px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.desktop .home-fill {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 41px;
    left: 51px;
    transition: filter 0.3s ease; /* 부드러운 전환 효과 */
    transition: transform 0.3s ease; /* 마우스 호버 시 크기 변화 */
}

.home-fill:hover {
    /*filter: brightness(0) invert(1); /* 흑백 반전 및 밝기 조절 */
    filter: sepia(1) hue-rotate(205deg) saturate(5) brightness(0.8); /* 대략적인 색상 조절 */
    cursor: pointer;
}

.desktop .rows-fill {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 49px;
    left: 1314px;
}

.rows-fill:hover {
    filter: sepia(1) hue-rotate(205deg) saturate(5) brightness(0.8);
    cursor: pointer;
}

.input {
    border-color: #ffffff;
}


/* 아이디,비번 입력 스타일 수정
.input-field {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10 10 0 0;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
}

.input-field:focus {
    border-color: #826fbc;
} */

/* 
.input-field {
    width: 90%;
    height: 40px;
    padding: 8px 12px;
    margin: 10px 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #ffffff;
    outline: none;
}

.input-field:focus {
    border-color: #826fbc;} /* 포커스 시 보라색 */


/* 원래 스타일과 일관되게 유지하기 위해 기존에 적용된 스타일도 필요하면 추가
.overlap {
    position: relative;
    width: 412px;
    height: 65px;
    background-color: #ffffff;
    border-radius: 30px 30px 0px 0px;
}

.PASSWORD-wrapper {
    position: relative;
    width: 412px;
    height: 65px;
    background-color: #ffffff;
    border-radius: 0px 0px 30px 30px;
} */