
.page {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 80px 0px 0px;
    position: relative;
  }
  
  .page .top-bar {
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 0px 6px #0000001f;
    display: flex;
    gap: 20px;
    height: 80px;
    justify-content: center;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%; /*전체비율*/
  }
  
  .page .rectangle-4137 {
    background-color: var(--black);
    border-radius: 100px;
    height: 40px;
    position: relative;
    width: 40px;
  }
  
  .page .title-8 {
    color: var(--camfitcokrwhite);
    flex: 1;
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xxl);
    font-weight: 500;
    letter-spacing: 0;
    line-height: 36px;
    position: relative;
  }
  
  .page .navigation {
    align-items: center;
    background-color: var(--white);
    display: inline-flex;
    flex: 0 0 auto;
    gap: 40px;
    justify-content: center;
    position: relative;
  }
  
  .page .navigation-item {
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .textfield-1 {
    justify-content: flex-end;
    padding: 8px;
    width: 200px;
  }
  
  .page .text-3 {
    flex: 1;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .page .ic-search {
    height: 20px;
    position: relative;
    width: 20px;
  }

  .main-page .vector {
    position: relative;
    width: 48px;
    height: 40px;
    }
    

    .dropdown-menu {
      display: none; /* 초기에는 숨김 */
      position: absolute;
      top: 50px; /* 아이콘 아래에 위치 */
      left: 0;
      background-color: #e7daf9;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      border-color: aqua;
      border-width: 2px;
      overflow: hidden;
      z-index: 1;
      width: 150px; /* 메뉴의 가로 길이 */
      flex-direction: column; /* 세로 정렬 */
    }
  
  .menu-item {
      display: block;
      padding: 10px 20px;
      color: #333;
      text-decoration: none;
      font-size: 15px;
      width: 150px;
      border-bottom: 1px solid #f0f0f0;
  }
  
  .menu-item:hover {
      background-color: #826fbc;
  }
  
  /* 마지막 메뉴 아이템의 경계선 제거 */
  .menu-item:last-child {
      border-bottom: none;
  }
  
  .page .page-item {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 60px;
    justify-content: center;
    overflow: hidden;
    padding: 60px 170px;
    position: relative;
    width: 100%;
  }
  
  .page .container {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
    position: relative;
  }
  
  .page .title {
    align-self: stretch;
    letter-spacing: 0;
    line-height: 48px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .page .description {
    align-self: stretch;
  }
  
  .page .button {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;    
  }
  
    .page .primary {
    width: 240px;
  }

  .page .primary-2 {
    align-items: center;
    background-color: #826fbc; /* 보라색 */
    background-color: #826fbc !important;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    position: relative;
    transition: transform 0.2s, background-color 0.2s;
}

.page .primary-2:hover {
    transform: scale(1.05);
    background-color: #d9cff3; /* 호버 시 밝은 보라색 */
}
  
  .page .title-1 {
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    
  }
  
  .page .image-container-3 {
    flex: 1;
    flex-grow: 1;
    height: 400px;
  }
  
  .page .image {
    align-self: stretch;
    background-color: var(--iron);
    flex: 1;
    flex-grow: 1;
    position: relative;
  }
  
  .page .vector-200 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 520px;
    width: 1440px;
  }
  
  .page .section {
    background-color: #b3a6bb;
    gap: 40px;
    overflow: hidden;
    padding: 60px 170px;
  }
  
  .page .avatar-3 {
    background-color: var(--iron);
    border-radius: 50px;
    height: 100px;
    position: relative;
    width: 100px;
  }
  
  .page .container-2 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;
    position: relative;
  }
  
  .page .title-9 {
    align-self: stretch;
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-weight: 700;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .page .selection-1 {
    align-self: stretch;
    flex: 0 0 auto;
    gap: 6px;
    width: 100%;
  }
  
  .page .label-normal {
    align-items: center;
    background-color: var(--iron);
    border: 0.5px solid;
    border-color: var(--black);
    border-radius: 2px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 2px;
    justify-content: center;
    overflow: hidden;
    padding: 2px 4px;
    position: relative;
  }
  
  .page .label-text {
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -0.50px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .description-1 {
    align-self: stretch;
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-weight: 400;
  }
  
  .page .primary-1 {
    width: 160px;
  }
  
  .page .vector-200-1 {
    top: 220px;
  }
  
  .page .page-item-1 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    overflow: hidden;
    padding: 60px 170px;
    position: relative;
    width: 100%;
  }
  
  .page .container-1 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 60px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .page .description-2 {
    align-self: stretch;
  }
  
  .page .image-container {
    align-items: flex-start;
    display: flex;
    height: 180px;
    position: relative;
    width: 180px;
  }
  
  .page .list-1 {
    align-items: center;
    align-self: stretch;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    width: 100%;
  }
  
  .page .row {
    align-items: flex-start;
  }
  
  .page .card {
    border: 1px solid;
    border-color: var(--black);
  }
  
  .page .image-container-1 {
    align-self: stretch;
    height: 340px;
    width: 100%;
  }
  
  .page .title-2 {
    height: 16px;
    left: 16px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 161px;
    white-space: nowrap;
    width: 308px;
  }
  
  .page .text {
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .text-content {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    padding: 12px;
    position: relative;
    width: 100%;
  }
  
  .page .title-3 {
    align-self: stretch;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .page .subtitle {
    line-height: 28px;
  }
  
  .page .vector-200-2 {
    top: 780px;
  }
  
  .page .description-3 {
    align-self: stretch;
  }
  
  .page .list {
    align-items: center;
    align-self: stretch;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    padding: 20px 0px;
    width: 100%;
  }
  
  .page .row-1 {
    align-items: center;
  }
  
  .page .article {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--black);
    border-radius: 6px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 16px;
    justify-content: center;
    padding: 16px;
    position: relative;
  }
  
  .page .image-container-2 {
    height: 100px;
    width: 100px;
  }
  
  .page .frame-427318906 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    position: relative;
  }
  
  .page .title-4 {
    align-self: stretch;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .page .subtitle-1 {
    line-height: 24px;
  }
  
  .page .selection {
    align-self: stretch;
    flex: 0 0 auto;
    gap: 6px;
    padding: 4px 0px;
    width: 100%;
  }
  
  .page .user {
    gap: 8px;
    padding: 4px 0px;
  }
  
  .page .avatar {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 8px;
    position: relative;
  }
  
  .page .avatar-1 {
    background-color: var(--black);
    border-radius: 20px;
    height: 20px;
    position: relative;
    width: 20px;
  }
  
  .page .frame-427318906-1 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
  }
  
  .page .title-5 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    display: -webkit-box;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1.00px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
  }
  
  .page .subtitle-2 {
    line-height: 24px;
  }
  
  .page .vector-200-3 {
    top: 564px;
  }
  
  .page .container-3 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 100%;
  }
  
  .page .title-10 {
    letter-spacing: 0;
    line-height: 48px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: 520px;
  }
  
  .page .description-4 {
    text-align: center;
    width: 520px;
  }
  
  .page .row-2 {
    align-items: flex-start;
  }
  
  .page .card-1 {
    background-color: var(--black-2);
    gap: 16px;
    padding: 16px;
  }
  
  .page .user-1 {
    gap: 4px;
  }
  
  .page .avatar-2 {
    background-color: var(--black);
    border-radius: 32px;
    height: 32px;
    position: relative;
    width: 32px;
  }
  
  .page .frame-427318817 {
    height: 9.81px;
    position: relative;
    width: 58.26px;
  }
  
  .page .title-6 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    align-self: stretch;
    display: -webkit-box;
    height: 72px;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
  }
  
  .page .frame-427318817-1 {
    height: 9.81px;
    position: relative;
    width: 58.26px;
  }
  
  .page .vector-200-4 {
    top: 540px;
  }
  
  .page .description-5 {
    align-self: stretch;
  }
  
  .page .list-2 {
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 40px;
    justify-content: center;
  }
  
  .page .list-item {
    align-items: flex-start;
    align-self: stretch;
    flex: 0 0 auto;
    gap: 80px;
    width: 100%;
  }
  
  .page .input {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    position: relative;
    width: 520px;
  }
  
  .page .title-7 {
    align-self: stretch;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .page .textfield {
    align-self: stretch;
    background-color: var(--white);
    flex: 0 0 auto;
    padding: 8px 12px;
    width: 100%;
  }
  
  .page .text-1 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    flex: 1;
    height: 20px;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1.00px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .page .info {
    align-self: stretch;
    letter-spacing: 0;
    line-height: 16px;
    position: relative;
  }
  
  .page .selection-2 {
    flex-direction: column;
    gap: 4px;
    width: 520px;
  }
  
  .page .chip-group {
    align-items: flex-start;
    align-self: stretch;
    flex: 0 0 auto;
    gap: 8px;
    width: 100%;
  }
  
  .page .chip {
    align-items: center;
    background-color: var(--black-2);
    border-radius: 6px;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    width: 64px;
  }
  
  .page .text-2 {
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .vector-200-5 {
    top: 528px;
  }
  
  .page .section-1 {
    gap: 60px;
    padding: 60px;
  }
  
  .page .container-4 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 60px;
    height: 100px;
    justify-content: center;
    position: relative;
  }
  
  .page .title-11 {
    align-self: stretch;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: 126px;
  }
  
  .page .title-12 {
    align-self: stretch;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: 261px;
  }
  
  .page .title-13 {
    align-self: stretch;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: 124px;
  }
  
  .page .card-2 {
    align-items: center;
    border-radius: 6px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
  }
  
  .page .chip-1 {
    display: flex;
    position: relative;
  }
  
  .page .description-6 {
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
  }
  
  .page .image-container-4 {
    align-items: flex-start;
    display: flex;
    position: relative;
  }
  
  .page .list-3 {
    display: flex;
    position: relative;
  }
  
  .page .primary-2 {
    align-items: center;
    background-color: var(--camfitcokrwhite);
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    position: relative;
  }
  
  .page .row-3 {
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 40px;
    position: relative;
    width: 100%;
  }
  
  .page .section-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .page .selection-3 {
    align-items: center;
    display: flex;
    position: relative;
  }
  
  .page .subtitle-3 {
    align-self: stretch;
    letter-spacing: 0;
    position: relative;
  }
  
  .page .tag-3 {
    align-items: center;
    background-color: var(--black-2);
    border-radius: 6px 0px 6px 0px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    padding: 4px 8px;
    position: absolute;
    top: 0;
  }
  
  .page .textfield-2 {
    align-items: center;
    border: 1px solid;
    border-color: var(--black);
    border-radius: 6px;
    display: flex;
    gap: 4px;
    position: relative;
  }
  
  .page .user-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
  }
  
  .page .vector-200-6 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    width: 1440px;
  }
  
  /*상단바 버튼*/
  #topButton {
    display: none; /* 기본적으로 버튼 숨김 */
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    background-color: #826fbc; /* 보라색 */
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px;
    width: 70px; /* 가로 크기 */
    height: 60px; /* 세로 크기 */
    border-radius: 50%;
    font-size: 18px;
    transition: background-color 0.2s;
}

#topButton:hover {
    transform: scale(1.05);
    background-color: #d9cff3; /* 호버 시 밝은 보라색 */
}

.search-button {
  background: url("/img/ic-search-2.svg") no-repeat;
  width: 18px;
  height: 18px;
}