<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(section, title)"  lang="ko">
<head th:replace="${title}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PAPAYA</title>
</head>
<body>
<!-- 상단 배너 -->
<header th:replace="fragments/header.html :: header"></header>
<!--<header>헤더</header>-->

<!-- 메인 콘텐츠 -->
<section th:replace="${section}"></section>
<!--<section th:replace="index.html :: section"></section>-->

<!-- 하단 배너 -->
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>