<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>비밀번호 변경</title>
	<link rel="stylesheet" href="/css/change-password-style.css">
</head>

<body>
	<div class="desktop">
		<div class="container">
			<div class="overlap-group">
				<h2 class="page-title">비밀번호 변경</h2>

				<div th:if="${successMessage}" class="message success">
					<p th:text="${successMessage}"></p>
				</div>
				<div th:if="${errorMessage}" class="message error">
					<p th:text="${errorMessage}"></p>
				</div>

				<form th:action="@{/user/change-password}" method="post">
					<div class="input-group">
						<label for="currentPassword" class="label">현재 비밀번호:</label>
						<input type="password" id="currentPassword" name="currentPassword" placeholder="현재 비밀번호를 입력하세요"
							class="input-field" required>
					</div>
					<div class="input-group">
						<label for="newPassword" class="label">새 비밀번호:</label>
						<input type="password" id="newPassword" name="newPassword" placeholder="새 비밀번호를 입력하세요"
							class="input-field" required>
					</div>
					<div class="input-group">
						<label for="confirmPassword" class="label">새 비밀번호 확인:</label>
						<input type="password" id="confirmPassword" name="confirmPassword"
							placeholder="새 비밀번호를 다시 입력하세요" class="input-field" required>
					</div>
					<button type="submit" class="change-password-button">비밀번호 변경</button>
				</form>
			</div>
			<img class="home-icon" src="/img/home-4-fill.svg" alt="Home" onclick="navigateToPage('/')">
			<img class="menu-icon" src="/img/rows-3-fill.svg" alt="Menu">
		</div>

	</div>
	<script src="/js/mainscript.js"></script>
</body>

</html>