<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ID 조회 결과</title>
	<link rel="stylesheet" href="globals.css">
	<link rel="stylesheet" href="styleguide.css">
	<link rel="stylesheet" href="/css/find-id-style.css">
</head>

<body>
	<div class="desktop">
		<div class="container">
			<div class="overlap-group">
				<h2 class="page-title">ID 조회 결과</h2>
				<div th:if="${userId}">
					<br />
					<p>조회된 ID: <strong th:text="${userId}"></strong></p>
					<br />
					<br />
					<button onclick="window.location.href='/user/login'" class="find-id-button">로그인하기</button>
				</div>
				<div th:if="${errorMessage}">
					<p th:text="${errorMessage}"></p>
					<button onclick="window.history.back()" class="find-id-button">다시 검색하기</button>
				</div>
			</div>
			<img class="home-icon" src="/img/Papaya.png" alt="Home" onclick="navigateToPage('/')">
		</div>
	</div>
	<script src="/js/mainscript.js"></script>
</body>

</html>