<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="globals.css">
	<link rel="stylesheet" href="styleguide.css">
	<link rel="stylesheet" href="/css/find-id-style.css">
	<title>ID 찾기</title>
</head>

<body>
	<div class="desktop">
		<div class="container">
			<div class="overlap-group">
				<h2 class="page-title">ID 찾기</h2>
				<form th:action="@{/user/find-id}" method="post">
					<div class="input-group">
						<label for="name" class="label">name :</label>
						<input type="text" id="name" name="name" placeholder="이름을 입력하세요" class="input-field" required>
					</div>
					<div class="input-group">
						<label for="phone" class="label">phone number :</label>
						<input type="text" id="phone" name="phone" placeholder="전화번호를 입력하세요" class="input-field"
							required>
					</div>
					<button type="submit" class="find-id-button">ID 찾기</button>
				</form>

			</div>
			<img class="home-icon" src="/img/home-4-fill.svg" alt="Home" onclick="navigateToPage('/')">
			<img class="menu-icon" src="/img/rows-3-fill.svg" alt="Menu">
		</div>
	</div>
	<script src="/js/mainscript.js"></script>
</body>

</html>