<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>storepage2</title>
	<link rel="stylesheet" type="text/css" href="/css/store2.css" />
	<script type="text/javascript"
		src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=eaaae920a0a9c0221057bb8ba7ce3e43"></script>
</head>

<body>
	<div class="page">
		<div class="top-bar">
			<img class="group-icon" alt="" src="/img/Papaya.png" onclick="navigateToPage('/')" />
			<div class="title" th:text="${restaurant.name}">Restaurant Name</div>
		</div>
		<div class="div">
			<div class="container">
				<div class="text-wrapper" th:text="${restaurant.name}">Restaurant Name</div>
				<p class="description" th:text="${restaurant.address}">Restaurant Address</p>
				<p class="description" th:text="'평점: ' + ${restaurant.score}">Restaurant Score</p>
				<div class="tab-group">
					<div class="tab">
						<div th:text="${restaurant.category}" th:onclick="searchByCategory(this.textContent.trim())">
							Category</div>
					</div>
				</div>
				<div class="button">
					<div class="seconday" onclick="navigateToPage('review_page.html')">
						<div>리뷰 작성</div>
					</div>
					<div class="primary" th:onclick="location.href='https://map.kakao.com/?q=[[${restaurant.name}]]'">
						<div>찾아가는 길</div>
					</div>
				</div>

			</div>
		</div>

		<div class="container-div">
			<div class="map_div" id="map" style="width:100%; height:300px;"></div>

			<script type="text/javascript">
				// Thymeleaf에서 서버의 값을 JavaScript 변수로 전달
				const latitude = '[[${restaurant.latitude}]]';
				const longitude = '[[${restaurant.longitude}]]';
			</script>
			<!--
				<div class="picture_div">API 사진 가져오는 부분</div>	
			-->

		</div>
		<div class="reviews">
			<h3>리뷰</h3>
			<div th:if="${reviews.isEmpty()}">
				<p>아직 작성된 리뷰가 없습니다.</p>
			</div>
			<div th:if="${!reviews.isEmpty()}">
				<div class="row" th:each="review : ${reviews}">
					<div class="card-2">
						<div class="user">
							<div class="avatar">
								<div class="frame">
									<div class="title-8" th:text="${review.writer.name}" width="50%">User Name</div>
								</div>
							</div>

						</div>
						<p class="p" th:text="${review.content}">Review Content</p>
						<p><em th:text="${#temporals.format(review.write_date, 'yyyy/MM/dd HH:mm')}" style="font-size: 11px; float: right;">작성 날짜</em></p>
					</div>
				</div>
			</div>
			<div>
				<h3>리뷰 작성하기</h3>
				<form th:action="@{/review/add}" method="post">
					<input type="hidden" name="restId" th:value="${restaurant.id}">
					<div>
						<textarea id="content" name="content" rows="4" cols="50" required></textarea>
					</div>
					<button type="submit" class="review-submit-button">등록</button>
				</form>
			</div>
		</div>
	</div>
	<div id="image-container" style="display: flex; gap: 10px; flex-wrap: wrap;"></div>

	<!--<script>
		async function fetchImages(keyword) {
			const response = await fetch(`http://127.0.0.1:5000/images/${encodeURIComponent(keyword)}`);
			if (response.ok) {
				const images = await response.json();
				const container = document.getElementById('image-container');
				images.forEach(src => {
					const img = document.createElement('img');
					img.src = src;
					img.style.width = '200px';
					img.style.margin = '10px';
					container.appendChild(img);
				});
			} else {
				console.error('Failed to fetch images:', response.status);
			}
		}

		// 무너미카페 검색
		fetchImages("무너미카페");
	</script>-->

	</div>
	<script src="/js/mainscript.js"></script>
	<script src="/js/search.js"></script>
	<script src="/js/store.js"></script>
</body>

</html>