<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>storepage2</title>
	<link rel="stylesheet" type="text/css" href="/css/store2.css" />
</head>

<body>
	<div class="page">
		<div class="top-bar">
			<img class="group-icon" alt="" src="/img/home-4-fill.svg" onclick="navigateToPage('/')" />
			<div class="title" th:text="${restaurant.name}">Restaurant Name</div>
			<img class="vector-icon" alt="" src="/img/rows-3-fill.svg" />
		</div>
		<div class="div">
			<div class="container">
				<div class="text-wrapper" th:text="${restaurant.name}">Restaurant Name</div>
				<p class="description" th:text="${restaurant.address}">Restaurant Address</p>
				<p class="description" th:text="'평점: ' + ${restaurant.score}">Restaurant Score</p>
				<div class="tab-group">
					<div class="tab">
						<div th:text="${restaurant.category}" th:onclick="searchByCategory(this.textContent.trim())">Category</div>
					</div>
				</div>
				<div class="button">
					<div class="seconday" onclick="navigateToPage('review_page.html')">
						<div>리뷰 작성</div>
					</div>
					<div class="primary" th:onclick="location.href='https://map.kakao.com/?q=[[${restaurant.name}]]'">
						<div>찾아가는 길</div>
					</div>
				</div>

			</div>
		</div>

		<div class="container-div">
			<div class="map_div">API 지도 부분</div>
			<div class="picture_div">API 사진 가져오는 부분</div>
		</div>
		<div class="reviews">
			<div class="div-wrapper">
				<div class="title-5">리뷰</div>
			</div>
			<div class="row" th:each="review : ${reviews}">
				<div class="card-2">
					<div class="user">
						<div class="avatar">
							<div class="avatar-2"></div>
							<div class="frame">
								<div class="title-8" th:text="${review.writer.name}">User Name</div>
							</div>
						</div>
						<img class="frame-2" src="/img/frame-427318817-3.svg" />
					</div>
					<p class="p" th:text="${review.content}">Review Content</p>
					<p><em th:text="${#temporals.format(review.write_date, 'yyyy/MM/dd HH:mm')}">작성 날짜</em></p>
				</div>
			</div>

		</div>
	</div>
	<div id="image-container" style="display: flex; gap: 10px; flex-wrap: wrap;"></div>

	<script>
		async function fetchImages(keyword) {
			const response = await fetch(`http://127.0.0.1:5000/images/${encodeURIComponent(keyword)}`);
			if (response.ok) {
				const images = await response.json();
				const container = document.getElementById('image-container');
				images.forEach(src => {
					const img = document.createElement('img');
					img.src = src;
					img.style.width = '200px';
					img.style.margin = '10px';
					container.appendChild(img);
				});
			} else {
				console.error('Failed to fetch images:', response.status);
			}
		}

		// 무너미카페 검색
		fetchImages("무너미카페");
	</script>

	</div>
	<script src="/js/storepage.js"></script>
	<script src="/js/mainscript.js"></script>
	<script src="/js/search.js"></script>
</body>

</html>